@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
*, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --font-roboto-mono: "Roboto Mono", serif;
  --font-roboto: "Roboto", serif;
  --font-roboto-flex: "Roboto Flex", serif;
  /* Primary */
--primary-base: #1A1A1A; 
--primary-accent: #CE7D63; 

/* Secondary */
--secondary-base: #0F0F0F; 
--secondary-accent: #E7BEB1; 

/* Text */
--text-dark: #676665; 
--text-light: #F9EFEC; 
--text-grey: #81807E;
--border-color: #1d1d1d;
/* Background */
--background-base: var(--primary-base);
--background-secondary: var(--secondary-base); 

/* Navigation */
--nav-active: var(--secondary-accent);

/* Button */
--button-bg: var(--primary-accent); 
--button-text: var(--text-dark); 
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
}

body{
  background-color: #fff;
  font-family: 'Roboto Flex', sans-serif;

}

a{
  text-decoration: none;
  color: inherit;
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24;
}

main{
  padding: 15px;
  background-color: var(--secondary-base);
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

header{
  background-color: var(--primary-base);
  width: 100%;
  position: sticky;
  top: 15px;
  z-index: 99999;
  border: 2px solid var(--border-color);
  border-radius: 9px;
  bottom: 2px;
}


.contentcontainer{
  width: 100%;
  max-width: 1450px;
margin-left: auto;
margin-right: auto;
}


header .contentcontainer{
  padding: 15px;
display: flex;
justify-content: space-between;
align-items: center;

}

header img{
  width: 100.71px;
object-fit: contain;
}

header .navlinks{
  display: flex;
  gap: 10px;


}

header .navlinks .navlink{
  background-color:var(--secondary-base);
padding: 6px;
border-radius: 5px;
padding-left: 15px;
padding-right: 15px;
font-family: Roboto Mono;
font-size: 13.5px;
font-weight: 500;
line-height: 27px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: var(--text-grey);
text-transform: uppercase;
}

header .navlinks .navlink.contactbtn{
  background-color: var(--primary-accent);
  color: var(--secondary-base);
}

.heroflex{
  min-height: 500px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.heroflextop{
  display: flex;
  gap: 10px;

}

.w-100{
  width: 100%;
}

.w-50{
  width: 50%;
}

.w-30{
  width: 30%;
}

.bgcontainer{
 padding: 10px;
 background-color: var(--primary-base);
border-radius: 9px;
border: 2px solid var(--border-color);
}

.p10{
  padding: 10px;
}
.p20{
  padding: 25px;
}
.nopadding{
  padding: 0;
}

.fullheight{
  min-height: 100%;
  display: flex;
flex-direction: column;
}
.projectbox{
  min-height: 100%;
  display: flex;

 height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projectimg{
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  background-image: url('https://s3-alpha-sig.figma.com/img/c57b/54f5/5fbe8960b068c9e8fa57b30d5e33cc91?Expires=1738540800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=iZHu8~XRLKIYCD8cdoe7nY8ch4CUhzeNc7BwXZBdYYmTPi7DMbkz0vAVbzPDUVPfrjDpPvflsmNTbEui7rbcFPW0rrdduvqTbYJS3Nal-CjRKz~cU3911Q2SJp8HLQ36DvPq0hWNf~UbVDCr9Iu23qGjayCDFqnOdYMi6qjw3UGd4Q0EHBWdJ0Bog3h6AFPKXlr4qEtTwyubcvxVvWxdQJyumuiaCaw0Fl5H2YRVGrs1fud~NfFHc~jnOJPogalnj~iiTtukWFjQp1oAGmbdjySxgPi8uhKRbseEvVsmohFsZPh3jhDV~DLbscGgtYYYkrpb5zf2REyO6jo3ZKdOpw__');
  background-size: cover;
  background-size: cover;
}


.projectimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.smalelrpadding{
  padding: 4px;
}

.herotitle{
  font-family: var(--font-roboto-flex);
font-size: 62px;
font-weight: 600;
line-height: 87px;
text-align: left;
color: var(--text-light);
text-transform: uppercase;
display: flex;
align-items: center;
gap: 10px;
flex-wrap: nowrap;
white-space: nowrap;
}

.accenttext{
  font-family: var(--font-roboto-flex);
font-size: 14px;
font-weight: 400;
line-height: 25px;
text-align: left;
color: var(--text-dark);
padding-top: 9px;
width: 98%;
}
.red{
  align-self: center;
  align-items: center;
  gap: 10px;
  display: flex;
  margin-left: 4px;
  padding-left: 5px;
  cursor: pointer;
}


.roundedarrow {
  background-color: var(--primary-accent);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
transform: rotate(330deg);
transition: 0.75s ease-in-out;
  position: relative; /* Required for the pseudo-element positioning */
}

.red:hover .roundedarrow{
  transform: rotate(530deg);
 
}
.roundedarrow::after {
  content: '';
  position: absolute;
  top: -7px; 
  left: -7px;
  width: calc(100% + 14px); 
  height: calc(100% + 14px);
  border: 2px solid var(--primary-accent); 
  border-radius: 50%; 
  box-sizing: border-box; 
}

.herotitle small{
  font-family: Roboto Flex;
font-size: 15px;
font-weight: 500;
margin-left: 4px;
line-height: 36px;
text-align: left;
color: var(--primary-accent);

}
.herodata{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.mblock50{
margin-top: 10px;
margin-bottom: 5px;
}

.heroflexbtm{
  padding: 8px;
  border: 2px solid var(--border-color);
  border-radius: 7px;
}

.contenttitle{
  font-family: Roboto Mono;
font-size: 14px;
font-weight: 400;
line-height: 27px;
text-align: center;
color: #B3B3B2;
text-transform: uppercase;
}

.contentbody{
  font-family: Roboto Flex;
font-size: 40px;
font-weight: 600;
line-height: 60px;
text-align: center;
color: #DA9E8B;

}

.heroflexbtm .content{
  display: flex;
  gap: 15px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: 1fr;
  padding-top: 2px;
  grid-gap: 19px;
  gap: 8px;
}

.heroflexbtm .content .contentbox{

  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  background-color: var(--primary-base);
  border-radius: 9px;
}


.projecttitle{
  font-family: Roboto Flex;
  font-size: 20;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  color: #F9EFEC;
  text-transform: uppercase;
}

.projectbody{
  font-family: Roboto Flex;
font-size: 15px;
font-weight: 400;
line-height: 27px;
text-align: left;
color: #B3B3B2;
}